#debug false in production and true in development
DEBUG=

SECRET_KEY=your-SECRET_KEY here

#PosgreSQL Database Credentials here 
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#Supabase Credentials here
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_STORAGE_BUCKET=

# Connected to local Docker Redis service
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
REDIS_URL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
