asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
cssselect2==0.9.0
Django==5.0.6
django-filter==24.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
fonttools==4.63.0
html5lib==1.1
Jinja2==3.1.4
MarkupSafe==3.0.3
pillow==12.3.0
psycopg2-binary==2.9.9
pycparser==3.0
pydyf<0.12
PyJWT==2.13.0
pyphen==0.17.2
python-decouple==3.8
six==1.17.0
storage3==0.7.0
supabase==2.4.2
sqlparse==0.5.5
tinycss2==1.5.1
weasyprint==62.3
webencodings==0.5.1
zopfli==0.4.3
